In [2]:
import pandas as pd
df = pd.read_csv('../People_Info.csv', header=None)
print(df)

0    1   2      3     4
0    NaN   姓名  年龄     薪资  婚姻状况
1    1.0   李白  25    10k    NO
2    2.0  王昭君  28  12.5k    NO
3    3.0  诸葛亮  27    20k   YES
4    4.0  狄仁杰  25    14k   YES
5    5.0  孙尚香  30    12k    NO
6    6.0   妲己  29    17k    NO
7    7.0   周瑜  25    18k    NO
8    8.0   张飞  32    21k   YES
9    9.0  王昭君  28    22k    NO
10  10.0   大乔  26  21.5k   YES

In [4]:
print(df.shape)

(11, 5)