## 下面是给出的一组电影和电影票房信息：



|      |       电影名        |   票房   |
| :--: | :---------------: | :------: |
|  1   | 雷神3：诸神黄昏 | 73853 |
|  2   | 正义联盟 | 57767 |
|  3   | 东方快车谋杀案 | 22354 |
|  4   | 寻梦环游记 |  15969 |
|  4   | 全球风暴  |  14839 |
|  4   | 降魔传 | 8725 |   
|  4   | 追捕 | 8716 |   
|  4   | 七十七天 |   8318 |   
|  4   | 密战 |   7916 |   
|  4   | 狂兽 |   6764 |   
|  4   | 其它|   52222 |  





1.使用给出的电影数据分别创建一个Series和DataFrame数据，其中Series需使用电影票房信息(y)作为行索引，DataFrame使用默认的index作为行索引

2.用三中方法遍历获取所有电影的票房信息。

3.获取最高票房信息。

# 1.首先将表格的数据提取出来

In [6]:
move_list = ['雷神3：诸神黄昏','正义联盟','东方快车谋杀案','寻梦环游记','全球风暴', '降魔传','追捕','七十七天','密战','狂兽','其它']
y = [73853,57767,22354,15969,14839,8725,8716,8318,7916,6764,52222]

# 2.导入必要的库

In [ ]:
from pandas import Series

# 3.根据给出的数据创建一个Series数据

In [5]:
from pandas import Series
ser = Series(data=move_list,index=y)
ser

73853    雷神3：诸神黄昏
57767        正义联盟
22354     东方快车谋杀案
15969       寻梦环游记
14839        全球风暴
8725          降魔传
8716           追捕
8318         七十七天
7916           密战
6764           狂兽
52222          其它
dtype: object

# 4.根据给出的数据创建一个DataFrame数据

In [8]:
# 首先构造data数据
move_list = ['雷神3：诸神黄昏','正义联盟','东方快车谋杀案','寻梦环游记','全球风暴', '降魔传','追捕','七十七天','密战','狂兽','其它']
y = [73853,57767,22354,15969,14839,8725,8716,8318,7916,6764,52222]
dic = {
    "movie_name":Series(data=move_list),
    "movie_data":Series(data=y)
}

In [9]:
from pandas import Series,DataFrame
dic = {
    "movie_name":Series(data=move_list),
    "movie_data":Series(data=y)
}
df = DataFrame(data=dic)
df

   movie_name  movie_data
0    雷神3：诸神黄昏       73853
1        正义联盟       57767
2     东方快车谋杀案       22354
3       寻梦环游记       15969
4        全球风暴       14839
5         降魔传        8725
6          追捕        8716
7        七十七天        8318
8          密战        7916
9          狂兽        6764
10         其它       52222

# 方法一：遍历票房列movie_data

In [11]:
for value in df['movie_data']:
    print(value)

73853
57767
22354
15969
14839
8725
8716
8318
7916
6764
52222

# 方法二：使用iterrows()遍历一

In [14]:
for col,col_data in df.iterrows():
    print(col_data['movie_data'])

73853
57767
22354
15969
14839
8725
8716
8318
7916
6764
52222

# 方法二：使用iterrows()遍历二

In [15]:
for col,col_data in df.iteritems():
    if col == "movie_data":
        print(col_data)

0     73853
1     57767
2     22354
3     15969
4     14839
5      8725
6      8716
7      8318
8      7916
9      6764
10    52222
Name: movie_data, dtype: int64

# 获取最高票房信息

In [18]:
for col,col_data in df.iteritems():
    if col == "movie_data":
        # sorted()排序取值
        max_salary = sorted(col_data)[0]
        print(max_salary)

6764