## 下面是给出的一组电影和电影票房信息：



|      |       电影名        |   票房   |
| :--: | :---------------: | :------: |
|  1   | 雷神3：诸神黄昏 | 73853 |
|  2   | 正义联盟 | 57767 |
|  3   | 东方快车谋杀案 | 22354 |
|  4   | 寻梦环游记 |  15969 |
|  4   | 全球风暴  |  14839 |
|  4   | 降魔传 | 8725 |   
|  4   | 追捕 | 8716 |   
|  4   | 七十七天 |   8318 |   
|  4   | 密战 |   7916 |   
|  4   | 狂兽 |   6764 |   
|  4   | 其它|   52222 |  





1.使用给出的电影数据分别创建一个Series和DataFrame数据，其中Series需使用电影票房信息(y)作为行索引，DataFrame使用默认的index作为行索引

2.用三中方法遍历获取所有电影的票房信息。

3.获取最高票房信息。

# 1.首先将表格的数据提取出来

In [1]:
movie_list = ['雷神3：诸神黄昏','正义联盟','东方快车谋杀案','寻梦环游记','全球风暴','降魔传','追捕','七十七天','密战','狂兽','其它']
sales = [73853, 57767, 22354, 15969, 14839, 8725, 8716, 8318, 7916, 6764, 52222]

# 2.导入必要的库

In [2]:
import pandas as pd

# 3.根据给出的数据创建一个Series数据

In [5]:
ser = pd.Series(data = sales, index = movie_list)
# print(ser)

雷神3：诸神黄昏    73853
正义联盟        57767
东方快车谋杀案     22354
寻梦环游记       15969
全球风暴        14839
降魔传          8725
追捕           8716
七十七天         8318
密战           7916
狂兽           6764
其它          52222
dtype: int64

# 4.根据给出的数据创建一个DataFrame数据

In [9]:
dic = {
'movie_name': pd.Series(movie_list),
'movie_data': pd.Series(sales)}
df = pd.DataFrame(data = dic)
print(df)

movie_name  movie_data
0    雷神3：诸神黄昏       73853
1        正义联盟       57767
2     东方快车谋杀案       22354
3       寻梦环游记       15969
4        全球风暴       14839
5         降魔传        8725
6          追捕        8716
7        七十七天        8318
8          密战        7916
9          狂兽        6764
10         其它       52222

# 方法一：遍历票房列movie_data

In [11]:
for sale in df['movie_data']:
    print(sale)

73853
57767
22354
15969
14839
8725
8716
8318
7916
6764
52222

# 方法二：使用iterrows()遍历

In [19]:
for col, col_data in df.iterrows():
    print(col_data['movie_data'])

73853
57767
22354
15969
14839
8725
8716
8318
7916
6764
52222

# 方法二：使用iterrows()遍历

In [24]:
for col, col_data in df.iteritems():
    if col == 'movie_data':
        print(col_data)

0     73853
1     57767
2     22354
3     15969
4     14839
5      8725
6      8716
7      8318
8      7916
9      6764
10    52222
Name: movie_data, dtype: int64

# 获取最高票房信息

In [26]:
max_sale = sorted(sales)[-1]
print(max_sale)

73853